{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}

<script type="text/javascript">
        function startJS() {
             $("#id_interfaces").hide();
        }
        window.onload = startJS;
</script>
{% block form_action %}{% url 'horizon:project:instances:configuration' instance_id %}{% endblock %}
{% block form_attrs %}enctype="multipart/form-data"{% endblock %}

{% block modal-header %}
    <h3>{% trans "Configure the instance" %}</h3>
    <p>{% trans "The configuration will be sent to the Virtual Machine through the Double Decker bus." %}</p>
{% endblock %}

{% block modal-body %}
<div class="left">
{% for label in labels %}
    {% ifchanged %}
      <!-- Print parent labels indented -->
      {% if label.layers.0 != None %}
        <h4>{{ label.layers.0 }}</h4> 
      {% endif %}
    {% endifchanged %}
    
    {% ifchanged label.layers.1 %}
      <!-- Print parent labels indented -->
		{% if label.layers.1 != None %}
        <h4 style="margin-left:2em;">{{ label.layers.1 }}</h4>
        {% elif label.layers.1 != None and form_field.list_object_id == None %}
	  		<h4 style="margin-left:2em;">{{ label.layers.1 }}</h4>
	  {% endif %}
    {% endifchanged %}
    
    {% ifchanged label.layers.2 %}
      <!-- Print parent labels indented -->
		{% if label.layers.2 != None%}
          <h4 style="margin-left:3em;">{{ label.layers.2 }}</h4>
          {% elif label.layers.2 != None and form_field.list_object_id == None %}
	  		<h4 style="margin-left:3em;">{{ label.layers.2 }}</h4>
		{% endif %}
    {% endifchanged %}
    
    {% ifchanged label.layers.3 %}
      <!-- Print parent labels indented -->

         {% if label.layers.3 != None %}
            <h4 style="margin-left:4em;">{{ label.layers.3 }}</h4> 
			{% elif label.layers.3 != None and form_field.list_object_id == None %}
	  		<h4 style="margin-left:4em;">{{ label.layers.3 }}</h4>
		{% endif %}
    {% endifchanged %}
    
    {% ifchanged label.layers.4 %}
      <!-- Print parent labels indented -->


            {% if label.layers.4 != None %}
            	<h4 style="margin-left:5em;">{{ label.layers.4 }}</h4> 
              {% elif label.layers.4 != None and form_field.list_object_id == None %}
	  		<h4 style="margin-left:5em;">{{ label.layers.4 }}</h4>
            {% endif %}

    {% endifchanged %}
    
    {% ifchanged label.layers.5 %}
      <!-- Print parent labels indented -->

            	{% if label.layers.5 != None %}
            		<h4 style="margin-left:6em;">{{ label.layers.5 }}</h4> 
            	{% elif label.layers.5 != None and form_field.list_object_id == None %}
	  		<h4 style="margin-left:6em;">{{ label.layers.5 }}</h4>
             {% endif %}
    {% endifchanged %}

  {% for form_field in form_fields %}
  	<!-- Print parent labels only when it is necessary -->
    <!-- If the field is part of a list, re-print the label name when we are printing another instance of a list -->
    {% if form_field.list_object_id != None %}
      {% ifchanged form_field.list_object_id %}
        {% ifchanged label.path %}
          <!-- pass --> 
        {% else %}
          {% if label.path == form_field.path %}
            {% if form_field.indent == 1 and label.layers.0 != None %}
              <h4>{{ label.layers.0 }}</h4> 
            {% elif form_field.indent == 2 and label.layers.1 != None %}
              <h4 style="margin-left:2em;">{{ label.layers.1 }}</h4>
            {% elif form_field.indent == 3 and label.layers.2 != None %}
              <h4 style="margin-left:3em;">{{ label.layers.2 }}</h4>
            {% elif form_field.indent == 4 and label.layers.3 != None %}
              <h4 style="margin-left:4em;">{{ label.layers.3 }}</h4> 
            {% elif form_field.indent == 5 and label.layers.4 != None %}
              <h4 style="margin-left:5em;">{{ label.layers.4 }}</h4> 
            {% elif form_field.indent == 6 and label.layers.5 != None %}
              <h4 style="margin-left:6em;">{{ label.layers.5 }}</h4> 
            {% endif %}
          {% endif %}
        {% endifchanged %}
      {% endifchanged %}
    {% endif %}
    
    <!-- Print the fields --!>	
    {% for field in form %}
      {% if form_field.long_id == field.auto_id %}
        {% if label.path in field.auto_id and label.path == form_field.path %}
          {% if form_field.indent == 1 %}
              <div id="{{ field.auto_id }}_container" style="margin-left:3em;">
          {% elif form_field.indent == 2 %}
              <div id="{{ field.auto_id }}_container" style="margin-left:4em;">
          {% elif form_field.indent == 3 %}
              <div id="{{ field.auto_id }}_container" style="margin-left:5em;">
          {% elif form_field.indent == 4 %}
              <div id="{{ field.auto_id }}_container" style="margin-left:6em;">
          {% elif form_field.indent == 5 %}
              <div id="{{ field.auto_id }}_container" style="margin-left:7em;">
          {% elif form_field.indent == 6 %}
              <div id="{{ field.auto_id }}_container" style="margin-left:8em;">
          {% endif %}
          {{ field.help_text }}
            <div>
            {{ field.label_tag }} {{ field }}
            </div>
            <div id="{{ field.auto_id }}_errors">
            {{ field.errors }}
           </div>
         </div>
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endfor %}
</div>
<div class="right">
  <h3>{% trans "Description" %}:</h3>
  <p>{{ description }}</p>
</div>
{% endblock %}

{% block modal-footer %}
    <input type="submit" class="btn btn-primary pull-right" value="{% trans 'Configure' %}" />
    <a href="{% url 'horizon:project:instances:index' %}" class="btn btn-secondary cancel close">{% trans "Cancel" %}</a>
{% endblock %}

